/* General Styles */
body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: #333;
  padding: 10px 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
}

/* Homepage Styles */
.hero {
  background-color: #f1f1f1;
  text-align: center;
  padding: 100px 0;
}

.hero h1 {
  font-size: 36px;
  color: #333;
}

.hero p {
  font-size: 18px;
  color: #555;
}

/* Card Page Layout */
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 items across */
  grid-gap: 20px; /* spacing between items */
}

.grid-item {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
}

/* Carousel Style */

.carousel {
  position: relative;
  max-width: 600px;
  margin: auto;
  background-color: rgba(
    255,
    255,
    255,
    0.5
  ); /* Adjust the last value (0.5) to control transparency */
}

.slides {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  overflow-x: hidden;
}

.slides img {
  max-width: 100%; /* Ensure image doesn't exceed container width */
  max-height: 100%; /* Ensure image doesn't exceed container height */
  display: none;
  image-rendering: -webkit-optimize-contrast; /* Improve image rendering */
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 100;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}
